@model Projekt.Models.Post

@{
    ViewBag.Title = "Create";
}

<span class="large">Create a new post</span>
<hr />

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <span class="control-label">Title</span>
    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })<br/>
    <span class="control-label">Description</span>
    <textarea class="form-control" name="description"></textarea>
    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })<br />
    <span class="control-label">Post Image</span>
    <input type="file" class="form-control" name="ImageData" />
    @Html.ValidationMessage("ImageData", new { @class = "text-danger" })<br />
    <input type="submit" value="Create" class="btn btn-default" />
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
