@model Projekt.Models.Post
@using HtmlExtensions

@{
    ViewBag.Title = Model.title;
}

<div class="post_detail">
    <span class="title">@Html.DisplayFor(model => model.title)</span>
    <hr />
    <div class="post_details_content row">
        <div class="post_details_image col-md-2">
            @Html.Image(Model.Image.image)
        </div>
        <div class="post_details_text col-md-10 row">
            <div class="post_details_description">
                <span>@Html.DisplayFor(model => model.description)</span>
            </div>
            <div class="post_details_footer">
                <span>@Html.DisplayFor(model => model.User.username)&#09;@Html.DisplayFor(model => model.created)</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="comments">
    <span class="title">Comments</span>
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("~/Views/Comments/Details.cshtml", comment)
    }

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Views/Comments/Create.cshtml", new Projekt.Models.Comment { post_id = Model.post_id })
    }
</div>

