<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postmoist - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header id="header">
        <img id="stripes" src='~/images/stripes.png' alt="stripes" />
        <div id="site_logo">
            <img src="~/images/logo.png" alt="logo" />
        </div>

        <div id="profile_menu" class="dropdown">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="profile_select">
                    <img src="~/images/profile.png" alt="profile" />
                </div>
            </a>
            <ul class="dropdown-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown-header">Logged in as @HttpContext.Current.User.Identity.Name</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Index", "Users")">Users</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Logout", "Users")">Logout</a></li>
                }
                else
                {
                    <li class="dropdown-header">Not logged in</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Register", "Register", "Users")</li>
                    <li>@Html.ActionLink("Login", "Login", "Users")</li>
                }          
            </ul>
        </div>
    </header>
    <div id="content" class="body-content">
        @RenderBody()
        <footer id="footer">
            <b>Postmoist - @ViewBag.Title</b><p class="pull-right">&copy; @DateTime.Now.Year - All rights reserved. </p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#profile_menu a").click(function (e) {
                e.stopPropagation();
                $("#profile_menu .dropdown-menu").toggle();
            })
            $("header").click(function () {
                window.location.href = "@Url.Action("Index", "Posts")";
            });
        });
    </script>
</body>
</html>


