@model Projekt.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<script>
    $(document).ready(function() {
        function addMeta(prop, content) {
            $("head").append("<meta property='og:" + prop + "' content='"+ content + "' />");
        }

        addMeta("title", "@Model.username");
        addMeta("description", "@Model.Role");
        addMeta("type", "user.account");
        addMeta("url", window.location.href);
    });
</script>