@model Projekt.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<span class="large title">Login</span>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <span class="control-label">Username</span>
    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })<br />
    <span class="control-label">Password</span>
    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })<br />
    <input type="submit" value="Login" class="btn btn-default" /><br />
    @Html.ValidationMessage(String.Empty, new { @class = "text-danger" })
</div>
}
